* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

main {
  margin-top: 5em;
  display: flex;
  gap: 4em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.add-to-library {
  width: 8em;
}

.shelf {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2em;
  display: flex;
  gap: 1em;
}

.book {
  background-color: #e0e0e0;
  padding: 0.5em;
  width: 10em;
  height: 12em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  outline-color: #909090;
  outline-width: 0.2em;
  outline-style: solid;
}
.author {
  margin-top: 1em;
}

.float {
  position: absolute;
  background-color: red;
  padding: 1em;
}

.float-title {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
}

.checkbox {
  display: flex;
}
